   /* --первичный цвет: # 212121; */
   /* --вторичный цвет: # 757575; */
   /* --интерактивный цвет: # 2196f3; */
   /* --цвет заголовка: #ffffff; */
   /* --background-color: # 2f303a; */
   /* --задний фон: # F5F4FA; */
   /* --primary-font: «Roboto»; */
   /* --secondary-font: "Raleway"; */

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --interactive-color: #2196f3;
    --header-color: #ffffff;
    --background-color: #2f303a;
    --rear-background:#F5F4FA;
    --primary-font: "Roboto";
    --secondary-font: "Raleway";
  }
  body {
    font-family: var(--primary-font), sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color);
    width: 1600px;
  }
  a {
    text-decoration: none;
  }
  ul,ol{list-style: none;}
  address{font-style: normal;}
  h1,h2,h3,h4,p,ul {
  margin: 0px;
  padding: 0px;}
  
  
   /* Шапка */
  .header,
  .header-list,.header-list-contacts{
    display: flex;
  }
  .header{background-color: var(--header-color);
    width: 1600px;
    height: 80px;
    border-bottom:  1px solid #ECECEC;
    
    background: #FFFFFF;}
    .header-list{
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      margin: 32px 0px 0px 93px;
      width: 294px;
      height: 16px;
      justify-content: space-between;
    
      
      color: var(--primary-color);
     

    }
  .web{color: var(--interactive-color);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;}
    
  .header-link{font-family: var(--secondary-font);
   
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    margin: 24px 0px 0px 215px;
    
    letter-spacing: 0.03em;
    
    color: var(--primary-color)
    
    }
    .header-list-contacts{
      width: 307px;
      height: 16px;
      margin: 32px 0px 0px 331px;
      justify-content: space-between;
    }
     
    .link{font-family:var(--primary-font);
     
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      
      color: var(--primary-color);
      }
      .link-studio:active,
      .link-studio:visited {
        color: var(--interactive-color);
      }
      .link-portfolio:active,
      .link-portfolio:visited {
        color: var(--interactive-color);
      }
      .link:focus,
      .link:hover {background-color: var(--header-color);
        color: var(--interactive-color);
      
      cursor: pointer;}
  
    .contacts{font-family: var(--primary-font);
     
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
    }
    .contacts:focus,
    .contacts:hover{color: var(--interactive-color);}
  /* Предложение */
  .order-background {
    background-color: var(--background-color);
    width: 1600px;
    height: 600px;
    border: 1px solid #ECECEC;
   
    
  }
  .order-container {
   text-align: center;
   width: 696px;
   height: 200px;
   margin: 200px 0px 0px 452px;
   
  }
  .order-background-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
    
    color: var(--header-color);
    
   
  }
  .button {
    font-family: inherit;
    border-radius: 4px;
    background-color: var(--interactive-color);
    color: var(--header-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 200px;
    height: 50px;
  }
  
  /* Приоритеты */
  .list{display: flex;}
  .priorities-our{font-family:inherit;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    width: 240px;
    height: 42px;
    margin: 26px 0px 0px 680px;
    
    color: var(--primary-color);
    }
    .list{
      width: 1170px;
      height: 101px;
      margin: 26px 0px 0px 215px;
      justify-content: space-between;
      
    }
  .priorities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
    
  }
  .priorities-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-transform: none;
    width: 270px;
    height: 75px;
    margin-top: 10px;
  }
  
  /*Специализация*/
  .activity{
    width: 1170px;
    height: 386px;
    margin: 94px 0px 0px 215px;
  }
  .activity-title{
    font-family:var(--primary-font);
   
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
   
    
    color:var(--primary-color);
  }
  .activity-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  /* Команда */
  
 .staff{background-color: var(--rear-background);
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  margin-top: 94px;
  }
 .staff-block-foto{}
 .staff-our{
   font-family: var(--primary-font);
 
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  
 
  
  color: var(--primary-color);
  }
  .staff-list{display: flex;
    width: 1170px;
    height: 368px;
    margin-top: 50px;
    margin-left: 215px;
    justify-content: space-between;
  }
  .staff-name{font-family: var(--primary-font);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    color: var(--primary-color);
    
    }
    .staff-position{font-family:var(--primary-font);
     
      font-weight: normal;
      font-size: 16px;
      line-height: 1.18;
     
      
      text-align: center;
      letter-spacing: 0.03em;
      padding-top: 10px;
      
      color:var(--secondary-color) ;
      }
      .staff-list.li{color: var(--header-color);}
    /* Контакты */
    .footer{background-color: var(--background-color);
    width: 1600px;
    height: 262px;}
    .footer-box{
      padding: 60px 0px 0px 215px;
    

    }
    .footer-link{font-family: var(--secondary-font);
      
      font-weight: bold;
      font-size: 26px;
      line-height: 1.19;
    
      
      letter-spacing: 0.03em;
      width: 145px;
      height: 31px;
      
      
      color: var(--interactive-color);}
    .studio{color: var(--header-color);}
    .address{
      width: 231px;
      height: 81px;
      padding-top: 20px;
    }
    .our-address{font-family: var(--primary-font);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;

      
      color: var(--header-color);
      }
      .footer-contacts{font-family: var(--primary-font);
       
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        
        
        letter-spacing: 0.03em;
        
        
        color: rgba(255, 255, 255, 0.6);
        }
        .footer-mail{
          padding-top: 9px;
        }
        .footer-tel{
          padding-top: 9px;
        }
        .footer-list .footer-contacts:hover,
        .footer-list .footer-contacts:focus {
       color: var(--interactive-color);
        }
  /* Портфолио */
  .portfolio-list{display: flex;}
  .portfolio-button{
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
   
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);}
    .portfolio-button:focus,
    .portfolio-button:hover {
    color: #ffffff;
    background-color: var(--interactive-color);
    cursor: pointer;}
    .portfolio-heading{font-family: var(--primary-font);
    
      font-weight: bold;
      font-size: 18px;
      line-height: 2;
      
      
      letter-spacing: 0.06em;
      
      color:var(--primary-color);
      }
    .portfolio-description{font-family: var(--primary-font);
     
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      
      
      letter-spacing: 0.03em;
      
      color: var(--secondary-color);
      
      }